body {
    background: #fff;
    color: #191919;
}

a {
    color: #191919;
}

.header {
    background: #222;
    color: #fff;
}

    .header a {
        color: #fff;
    }

.content-wrapper {
    background: #fff;
}

.logo-search-text {
    color: #999;
}

.logo-search-btn {
    background: #fdd000;
}

.welcome h4 {
    color: #fd5900;
}

    .welcome h4 a {
        color: #fd5900;
    }
