body {
    font-family: tahoma, arial, "Hiragino Sans GB", 宋体, sans-serif;
    font-size: 12px;
}

div.topNavbar a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar {
    min-height: 26px;
    margin-bottom:0px;
}

.navbar-toggle {
    margin-top: 4px;
    margin-bottom: 4px;
}
