html {
    font-size: 16px;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, time, tt, u, ul, var, video {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

a {
    text-decoration: none;
}

header {
    min-width: 1180px;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

body {
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.667;
    font-family: "PingFang SC",Arial,"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",simsun,sans-serif;
}

/*lightbox*/
#lightbox {
    position: absolute;
    z-index: 99999;
    left: 0px;
    top: 0px;
    border-radius: 5px;
}

#lightbox iframe {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 0px;
}

#lightbox_overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99998;
    opacity: 0.5;
    cursor: default;
}

#lightbox_loading {
    height: 16px;
}

    #lightbox_loading img {
        padding-right: 5px;
    }

#lightbox_message_title {
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 5px;
}

#lightbox_processing_image {
    position: relative;
    top: 7px;
    padding-right: 5px;
}

#lightbox_processing_message {
    font-size: 17px;
}

#lightbox_message {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#lightbox_content {
    border-width: 1px;
    border-style: solid;
    padding-left: 24px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-top: 0px;
}

    #lightbox_content.showmode_message {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

#lightbox_header, #lightbox_header > li, #lightbox_footer_nobuttons, #lightbox_footer_nobuttons > li, #lightbox_footer, #lightbox_footer > li {
    margin: 0px;
    padding: 0px;
    line-height: 0px;
    font-size: 0px;
    list-style-type: none;
}

#lightbox_header {
    height: 9px;
    margin-bottom: -1px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    -o-border-top-left-radius: 8px;
    -ms-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -o-border-top-right-radius: 8px;
    -ms-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
}

#lightbox_footer {
    height: 59px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -o-border-bottom-left-radius: 8px;
    -ms-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -o-border-bottom-right-radius: 8px;
    -ms-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#lightbox_footer_center {
    height: 49px;
    padding-top: 10px !important;
    text-align: right;
}

    #lightbox_footer_center input {
        margin-left: 10px;
        font-size: 0px;
        height: 35px;
    }

#lightbox_footer_nobuttons {
    height: 8px;
    font-size: 0px;
    line-height: 0px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -o-border-bottom-left-radius: 8px;
    -ms-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -o-border-bottom-right-radius: 8px;
    -ms-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: -1px;
}

#lightbox_footer_nobuttons_center {
    height: 8px;
    font-size: 1px;
    line-height: 1px;
}

/* used for IE6 light box disabled SELECT tags */
select.lightbox_disabled {
    visibility: hidden !important;
}

.lightbox_page {
    padding-right: 10px;
}

.lightbox_page_header {
    font-size: 17px;
    padding-bottom: 10px;
}

    .lightbox_page_header span {
        font-size: 17px;
    }

    .lightbox_page_header #break_details {
        font-size: 13px;
    }

.lightbox_page_subheader {
    font-weight: bold;
    padding-bottom: 10px;
}

.lightbox_page_intro {
    padding-bottom: 10px;
}

.lightbox_page_criteria {
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.lightbox_button_print, .lightbox_button_accept, .lightbox_button_ok, .lightbox_button_save, .lightbox_button_save_disabled, .lightbox_button_add, .lightbox_button_yes, .lightbox_button_change {
    height: 35px;
    width: 150px;
    background-repeat: no-repeat;
    display: block;
    font-size: 0px;
}

.lightbox_button_cancel, .lightbox_button_no, .lightbox_button_close, .lightbox_button_decline, .lightbox_button_redaccept, .lightbox_button_delete {
    height: 35px;
    width: 90px;
    background-repeat: no-repeat;
    display: block;
    font-size: 0px;
}

.lightbox_button_cancel {
    background-position: 0px -227px;
}

.lightbox_button_no {
    background-position: -270px -227px;
}

.lightbox_button_close {
    background-position: -90px -227px;
}

.lightbox_button_decline {
    background-position: -180px -227px;
}

.lightbox_button_yes {
    background-position: 0px -192px;
}

.lightbox_button_print {
    background-position: -750px -192px;
}

.lightbox_button_save {
    background-position: -600px -192px;
}

.lightbox_button_save_disabled {
    background-position: -510px -227px;
}

.lightbox_button_accept {
    background-position: -150px -192px;
}

.lightbox_button_add {
    background-position: -300px -192px;
}

.lightbox_button_ok {
    background-position: -450px -192px;
}

.lightbox_button_change {
    background-position: -660px -227px;
}

.lightbox_button_redaccept {
    background-position: -810px -227px;
}

.lightbox_button_delete {
    background-position: 0px -262px;
}


#lightbox_footer_center .btn {
    margin: 0 2px 2px 2px;
    display: inline-block;
    padding: 6px 12px;
    font-family: "Trebuchet MS", Helvetica, Sans-Serif;
    font-size: 14px;
    letter-spacing: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


#lightbox_footer_center  .btn-default {
    background-repeat: repeat-x;
}

    #lightbox_footer_center  .btn-default:hover,
    #lightbox_footer_center  .btn-default:focus {
        background-position: 0 -15px;
    }

#lightbox_footer_center  .btn-hide-ad {
    padding: 0 !important;
    width: 48px !important;
    border-radius: 10px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #999999;
    background-color: transparent;
}

#lightbox_footer_center  .btn-primary {
    background-repeat: repeat-x;
}

    #lightbox_footer_center  .btn-primary:hover,
    #lightbox_footer_center  .btn-primary:focus {
        background-position: 0 -15px;
    }

#lightbox_footer_center  .btn-success {
    background-repeat: repeat-x;
}

    #lightbox_footer_center  .btn-success:hover,
    #lightbox_footer_center  .btn-success:focus {
        background-position: 0 -15px;
    }

#lightbox_footer_center  .btn-info {
    background-repeat: repeat-x;
}

    #lightbox_footer_center  .btn-info:hover,
    #lightbox_footer_center  .btn-info:focus {
        background-position: 0 -15px;
    }

#lightbox_footer_center  .btn-warning {
    background-repeat: repeat-x;
}

    #lightbox_footer_center  .btn-warning:hover,
    #lightbox_footer_center  .btn-warning:focus {
        background-position: 0 -15px;
    }

#lightbox_footer_center  .btn-danger {
    background-repeat: repeat-x;
}

    #lightbox_footer_center  .btn-danger:hover,
    #lightbox_footer_center  .btn-danger:focus {
        background-position: 0 -15px;
    }

#lightbox_footer_center .btn-lightbox {
    width: 145px;
    margin: 2px;
}

#lightbox_footer_center .link {
    cursor: pointer;
}


/*glyphicon*/
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(./fonts/glyphicons-halflings-regular.eot);
    src: url(./fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(./fonts/glyphicons-halflings-regular.woff) format('woff'), url(./fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-asterisk:before {
    content: "\2a";
}

.glyphicon-plus:before {
    content: "\2b";
}

.glyphicon-euro:before {
    content: "\20ac";
}

.glyphicon-minus:before {
    content: "\2212";
}

.glyphicon-cloud:before {
    content: "\2601";
}

.glyphicon-envelope:before {
    content: "\2709";
}

.glyphicon-pencil:before {
    content: "\270f";
}

.glyphicon-glass:before {
    content: "\e001";
}

.glyphicon-music:before {
    content: "\e002";
}

.glyphicon-search:before {
    content: "\e003";
}

.glyphicon-heart:before {
    content: "\e005";
}

.glyphicon-star:before {
    content: "\e006";
}

.glyphicon-star-empty:before {
    content: "\e007";
}

.glyphicon-user:before {
    content: "\e008";
    margin-right: 5px;
}

.glyphicon-film:before {
    content: "\e009";
}

.glyphicon-th-large:before {
    content: "\e010";
}

.glyphicon-th:before {
    content: "\e011";
}

.glyphicon-th-list:before {
    content: "\e012";
}

.glyphicon-ok:before {
    content: "\e013";
}

.glyphicon-remove:before {
    content: "\e014";
}

.glyphicon-zoom-in:before {
    content: "\e015";
}

.glyphicon-zoom-out:before {
    content: "\e016";
}

.glyphicon-off:before {
    content: "\e017";
}

.glyphicon-signal:before {
    content: "\e018";
}

.glyphicon-cog:before {
    content: "\e019";
}

.glyphicon-trash:before {
    content: "\e020";
}

.glyphicon-home:before {
    content: "\e021";
}

.glyphicon-file:before {
    content: "\e022";
}

.glyphicon-time:before {
    content: "\e023";
}

.glyphicon-road:before {
    content: "\e024";
}

.glyphicon-download-alt:before {
    content: "\e025";
}

.glyphicon-download:before {
    content: "\e026";
}

.glyphicon-upload:before {
    content: "\e027";
}

.glyphicon-inbox:before {
    content: "\e028";
}

.glyphicon-play-circle:before {
    content: "\e029";
}

.glyphicon-repeat:before {
    content: "\e030";
}

.glyphicon-refresh:before {
    content: "\e031";
}

.glyphicon-list-alt:before {
    content: "\e032";
}

.glyphicon-lock:before {
    content: "\e033";
}

.glyphicon-flag:before {
    content: "\e034";
}

.glyphicon-headphones:before {
    content: "\e035";
}

.glyphicon-volume-off:before {
    content: "\e036";
}

.glyphicon-volume-down:before {
    content: "\e037";
}

.glyphicon-volume-up:before {
    content: "\e038";
}

.glyphicon-qrcode:before {
    content: "\e039";
}

.glyphicon-barcode:before {
    content: "\e040";
}

.glyphicon-tag:before {
    content: "\e041";
}

.glyphicon-tags:before {
    content: "\e042";
}

.glyphicon-book:before {
    content: "\e043";
}

.glyphicon-bookmark:before {
    content: "\e044";
}

.glyphicon-print:before {
    content: "\e045";
}

.glyphicon-camera:before {
    content: "\e046";
}

.glyphicon-font:before {
    content: "\e047";
}

.glyphicon-bold:before {
    content: "\e048";
}

.glyphicon-italic:before {
    content: "\e049";
}

.glyphicon-text-height:before {
    content: "\e050";
}

.glyphicon-text-width:before {
    content: "\e051";
}

.glyphicon-align-left:before {
    content: "\e052";
}

.glyphicon-align-center:before {
    content: "\e053";
}

.glyphicon-align-right:before {
    content: "\e054";
}

.glyphicon-align-justify:before {
    content: "\e055";
}

.glyphicon-list:before {
    content: "\e056";
}

.glyphicon-indent-left:before {
    content: "\e057";
}

.glyphicon-indent-right:before {
    content: "\e058";
}

.glyphicon-facetime-video:before {
    content: "\e059";
}

.glyphicon-picture:before {
    content: "\e060";
}

.glyphicon-map-marker:before {
    content: "\e062";
}

.glyphicon-adjust:before {
    content: "\e063";
}

.glyphicon-tint:before {
    content: "\e064";
}

.glyphicon-edit:before {
    content: "\e065";
}

.glyphicon-share:before {
    content: "\e066";
}

.glyphicon-check:before {
    content: "\e067";
}

.glyphicon-move:before {
    content: "\e068";
}

.glyphicon-step-backward:before {
    content: "\e069";
}

.glyphicon-fast-backward:before {
    content: "\e070";
}

.glyphicon-backward:before {
    content: "\e071";
}

.glyphicon-play:before {
    content: "\e072";
}

.glyphicon-pause:before {
    content: "\e073";
}

.glyphicon-stop:before {
    content: "\e074";
}

.glyphicon-forward:before {
    content: "\e075";
}

.glyphicon-fast-forward:before {
    content: "\e076";
}

.glyphicon-step-forward:before {
    content: "\e077";
}

.glyphicon-eject:before {
    content: "\e078";
}

.glyphicon-chevron-left:before {
    content: "\e079";
}

.glyphicon-chevron-right:before {
    content: "\e080";
}

.glyphicon-plus-sign:before {
    content: "\e081";
}

.glyphicon-minus-sign:before {
    content: "\e082";
}

.glyphicon-remove-sign:before {
    content: "\e083";
}

.glyphicon-ok-sign:before {
    content: "\e084";
}

.glyphicon-question-sign:before {
    content: "\e085";
}

.glyphicon-info-sign:before {
    content: "\e086";
}

.glyphicon-screenshot:before {
    content: "\e087";
}

.glyphicon-remove-circle:before {
    content: "\e088";
}

.glyphicon-ok-circle:before {
    content: "\e089";
}

.glyphicon-ban-circle:before {
    content: "\e090";
}

.glyphicon-arrow-left:before {
    content: "\e091";
}

.glyphicon-arrow-right:before {
    content: "\e092";
}

.glyphicon-arrow-up:before {
    content: "\e093";
}

.glyphicon-arrow-down:before {
    content: "\e094";
}

.glyphicon-share-alt:before {
    content: "\e095";
}

.glyphicon-resize-full:before {
    content: "\e096";
}

.glyphicon-resize-small:before {
    content: "\e097";
}

.glyphicon-exclamation-sign:before {
    content: "\e101";
}

.glyphicon-gift:before {
    content: "\e102";
}

.glyphicon-leaf:before {
    content: "\e103";
}

.glyphicon-fire:before {
    content: "\e104";
}

.glyphicon-eye-open:before {
    content: "\e105";
}

.glyphicon-eye-close:before {
    content: "\e106";
}

.glyphicon-warning-sign:before {
    content: "\e107";
}

.glyphicon-plane:before {
    content: "\e108";
}

.glyphicon-calendar:before {
    content: "\e109";
}

.glyphicon-random:before {
    content: "\e110";
}

.glyphicon-comment:before {
    content: "\e111";
}

.glyphicon-magnet:before {
    content: "\e112";
}

.glyphicon-chevron-up:before {
    content: "\e113";
}

.glyphicon-chevron-down:before {
    content: "\e114";
}

.glyphicon-retweet:before {
    content: "\e115";
}

.glyphicon-shopping-cart:before {
    content: "\e116";
}

.glyphicon-folder-close:before {
    content: "\e117";
}

.glyphicon-folder-open:before {
    content: "\e118";
}

.glyphicon-resize-vertical:before {
    content: "\e119";
}

.glyphicon-resize-horizontal:before {
    content: "\e120";
}

.glyphicon-hdd:before {
    content: "\e121";
}

.glyphicon-bullhorn:before {
    content: "\e122";
}

.glyphicon-bell:before {
    content: "\e123";
}

.glyphicon-certificate:before {
    content: "\e124";
}

.glyphicon-thumbs-up:before {
    content: "\e125";
}

.glyphicon-thumbs-down:before {
    content: "\e126";
}

.glyphicon-hand-right:before {
    content: "\e127";
}

.glyphicon-hand-left:before {
    content: "\e128";
}

.glyphicon-hand-up:before {
    content: "\e129";
}

.glyphicon-hand-down:before {
    content: "\e130";
}

.glyphicon-circle-arrow-right:before {
    content: "\e131";
}

.glyphicon-circle-arrow-left:before {
    content: "\e132";
}

.glyphicon-circle-arrow-up:before {
    content: "\e133";
}

.glyphicon-circle-arrow-down:before {
    content: "\e134";
}

.glyphicon-globe:before {
    content: "\e135";
}

.glyphicon-wrench:before {
    content: "\e136";
}

.glyphicon-tasks:before {
    content: "\e137";
}

.glyphicon-filter:before {
    content: "\e138";
}

.glyphicon-briefcase:before {
    content: "\e139";
}

.glyphicon-fullscreen:before {
    content: "\e140";
}

.glyphicon-dashboard:before {
    content: "\e141";
}

.glyphicon-paperclip:before {
    content: "\e142";
}

.glyphicon-heart-empty:before {
    content: "\e143";
}

.glyphicon-link:before {
    content: "\e144";
}

.glyphicon-phone:before {
    content: "\e145";
}

.glyphicon-pushpin:before {
    content: "\e146";
}

.glyphicon-usd:before {
    content: "\e148";
}

.glyphicon-gbp:before {
    content: "\e149";
}

.glyphicon-sort:before {
    content: "\e150";
}

.glyphicon-sort-by-alphabet:before {
    content: "\e151";
}

.glyphicon-sort-by-alphabet-alt:before {
    content: "\e152";
}

.glyphicon-sort-by-order:before {
    content: "\e153";
}

.glyphicon-sort-by-order-alt:before {
    content: "\e154";
}

.glyphicon-sort-by-attributes:before {
    content: "\e155";
}

.glyphicon-sort-by-attributes-alt:before {
    content: "\e156";
}

.glyphicon-unchecked:before {
    content: "\e157";
}

.glyphicon-expand:before {
    content: "\e158";
}

.glyphicon-collapse-down:before {
    content: "\e159";
}

.glyphicon-collapse-up:before {
    content: "\e160";
}

.glyphicon-log-in:before {
    content: "\e161";
}

.glyphicon-flash:before {
    content: "\e162";
}

.glyphicon-log-out:before {
    content: "\e163";
}

.glyphicon-new-window:before {
    content: "\e164";
}

.glyphicon-record:before {
    content: "\e165";
}

.glyphicon-save:before {
    content: "\e166";
}

.glyphicon-open:before {
    content: "\e167";
}

.glyphicon-saved:before {
    content: "\e168";
}

.glyphicon-import:before {
    content: "\e169";
}

.glyphicon-export:before {
    content: "\e170";
}

.glyphicon-send:before {
    content: "\e171";
}

.glyphicon-floppy-disk:before {
    content: "\e172";
}

.glyphicon-floppy-saved:before {
    content: "\e173";
}

.glyphicon-floppy-remove:before {
    content: "\e174";
}

.glyphicon-floppy-save:before {
    content: "\e175";
}

.glyphicon-floppy-open:before {
    content: "\e176";
}

.glyphicon-credit-card:before {
    content: "\e177";
}

.glyphicon-transfer:before {
    content: "\e178";
}

.glyphicon-cutlery:before {
    content: "\e179";
}

.glyphicon-header:before {
    content: "\e180";
}

.glyphicon-compressed:before {
    content: "\e181";
}

.glyphicon-earphone:before {
    content: "\e182";
}

.glyphicon-phone-alt:before {
    content: "\e183";
}

.glyphicon-tower:before {
    content: "\e184";
}

.glyphicon-stats:before {
    content: "\e185";
}

.glyphicon-sd-video:before {
    content: "\e186";
}

.glyphicon-hd-video:before {
    content: "\e187";
}

.glyphicon-subtitles:before {
    content: "\e188";
}

.glyphicon-sound-stereo:before {
    content: "\e189";
}

.glyphicon-sound-dolby:before {
    content: "\e190";
}

.glyphicon-sound-5-1:before {
    content: "\e191";
}

.glyphicon-sound-6-1:before {
    content: "\e192";
}

.glyphicon-sound-7-1:before {
    content: "\e193";
}

.glyphicon-copyright-mark:before {
    content: "\e194";
}

.glyphicon-registration-mark:before {
    content: "\e195";
}

.glyphicon-cloud-download:before {
    content: "\e197";
}

.glyphicon-cloud-upload:before {
    content: "\e198";
}

.glyphicon-tree-conifer:before {
    content: "\e199";
}

.glyphicon-tree-deciduous:before {
    content: "\e200";
}

.left {
    float: left;
}

.right {
    float: right;
}

/*The width of content*/
.area {
    width: 1180px;
    margin: 0 auto;
}

.marginright20px {
    margin-right: 20px;
}

.marginleft20px {
    margin-left: 20px;
}

/*header*/
.header {
    height: 30px;
}

.header-box {
    font-size: 14px;
    line-height: 30px;
}

.header .span {
    display: inline-block;
}

.header .left, .header .right {
    display: inline;
}

.content-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
}

/*logo*/
.logo-search {
    height: 75px;
}

.logo {
    width: 160px;
    height: 75px;
    overflow: hidden;
    line-height: 500px;
    background: url(./images/logo.jpg) no-repeat 0 0;
}

.search-wrapper {
    width: 640px;
    height: 40px;
    margin-top: 17px;
}

.logo-search-text {
    width: 570px;
    height: 40px;
    font-size: 14px;
    border: 1px #ddd solid;
    border-right: 0;
    line-height: 38px;
    padding-left: 10px;
    float: left;
    border-radius: 1px 0 0 1px;
    box-sizing: border-box;
}

.logo-search-btn {
    float: right;
    cursor: pointer;
    width: 70px;
    height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 0 1px 1px 0;
}

    .logo-search-btn i {
        width: 20px;
        height: 20px;
        margin-top: 10px;
    }

.search-empty {
    margin: 14px 0 0 7px;
    line-height: 24px;
    width: 115px;
}

.welcome {
    border-left: 1px #efefef solid;
    width: 190px;
    height: 36px;
    padding-left: 26px;
    margin-top: 20px;
}

    .welcome h4 {
        font-size: 12px;
        line-height: 20px;
    }

.welcome-logo {
    width: 36px;
    height: 36px;
    overflow: hidden;
    line-height: 500px;
    float: left;
    margin-right: 10px;
    background: url(./images/welcome.png) no-repeat 0 0;
}

    .welcome-logo a {
        display: block;
        width: 100%;
        height: 100%;
    }

.welcome p {
    line-height: 14px;
    padding-top: 2px;
}

    .welcome p a {
        margin-right: 12px;
    }
